<div class="row" ng-if="$ctrl.commentdata.showComments">
  <div class="col-md-offset-1">
    <hr>
    <div ng-repeat="comment in $ctrl.commentdata.comments">
      <p>
        {{comment.content}}
      </p>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <input class="form-control" ng-model="$ctrl.cmtInput">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" ng-click="$ctrl.newComment(post)">
      </div>
    </form>
  </div>
</div>
